@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?36wyma');
    src:  url('../fonts/icomoon.eot?36wyma#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?36wyma') format('truetype'),
    url('../fonts/icomoon.woff?36wyma') format('woff'),
    url('../fonts/icomoon.svg?36wyma#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: "\e909";
}
.icon-chart:before {
    content: "\e901";
}
.icon-concept:before {
    content: "\e902";
}
.icon-shield:before {
    content: "\e903";
}
.icon-play:before {
    content: "\e900";
}
.icon-cheveron-down:before {
    content: "\e904";
}
.icon-cheveron-left:before {
    content: "\e907";
}
.icon-cheveron-right:before {
    content: "\e905";
}
.icon-cheveron-up:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e906";
}
.icon-cross:before {
    content: "\ea0f";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-checkbox-checked:before {
    content: "\ea52";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}

body {
    font-family: $font_main;
    font-size: 15px;
    line-height: 1.3;
    color: $color_main;
    min-width: 320px;
    position: relative;
}

#site {
    min-width: 320px;
    overflow: hidden;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background: url(../images/site_bg.jpg) center top no-repeat,  url(../images/site_fon.png) 0 0 repeat;
    position: relative;
}

.admin-panel {
    #site {
        background:  url(../images/site_fon.png) 0 0 repeat;
    }
}

/*--------------*/
.mobil-menu-block {
    box-sizing: border-box;
    background: #161524;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding: 20px 14px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    -webkit-transition: transform 0.3s ease-out 0s;
    -o-transition: transform 0.3s ease-out 0s;
    -moz-transition: transform 0.3s ease-out 0s;
    transition: transform 0.3s ease-out 0s;
    -ms-transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    transform: translate3d(0px, -100%, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;

    .head-btn-block, .btn-login {
        margin: 10px 0;
        display: none;
    }
}

.open-menu .mobil-menu-block {
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.25);
}

.close-menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.close-menu:before, .close-menu:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -5px;
    height: 20px;
    width: 4px;
    border-radius: 3px;
    background: #fff;
    transform: rotate(45deg);
    transition: all 300ms ease-out;
}

.close-menu:hover:before, .close-menu:hover:after {
    background: #146DFC;
}

.close-menu:after {
    transform: rotate(-45deg);
}

.menu-icon {
    display: none;
    margin: 0 12px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 300ms ease-out;

    & > div {
        width: 18px;
    }

    &:hover {
        background: #146DFC;
    }
}

.menu-icon span {
    display: block;
    height: 1px;
    background: #FFFFFF;
    margin-top: 4px;
    transition: all 300ms ease-out;
}

.menu-icon span:first-child {
    margin-top: 0;
}

.nav-menu {
    margin: 10px 0;
    list-style-position: outside;
    list-style: none;

    li {
        margin: 12px 0;
        text-align: center;

        a {
            font: 500 14px/130% "Montserrat", sans-serif;
            color: #ffffff;
            text-decoration: none;
            transition: all 300ms ease-out;

            &:hover {
                color: #f59518;
            }
        }
    }
}
/*--------------------*/

.footer {
    display: table-row;
    height: 1px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #12121B url("../images/header_bg.jpg") no-repeat center top;
    background-size: auto 100%;
    z-index: 200;
}

.fixed {
    width: 1170px;
    margin: 0 auto;
}

.head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 500 21px/130% $font_main;
    color:$color_main;
    text-decoration: none;

    &:before {
        content: "";
        display: block;
        margin-top: -2px;
        margin-right: 16px;
        width: 25px;
        height: 25px;
        border-radius: 4px;
        background: #FFFFFF;
    }
}

.nav-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    list-style-position: outside;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 22px;
        
        a {
            display: block;
            padding: 10px 0;
            font: 500 14px/130% $font_main;
            color:$color_main;
            text-decoration: none;
            transition: all 300ms ease-out;

            &:hover {
                color: $color_yellow;
            }
        }
    }
}

.head-btn {
    margin: 0 9px;
    box-sizing: border-box;
    min-width: 126px;
    padding: 0 15px;
    height: 40px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-blue {
    text-align: center;
    font: 500 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    background: $color_blue;
    transition: all 300ms ease-out;
    box-shadow: 0px 10px 20px rgba(87,29,173,0.24);
    cursor: pointer;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        background: #2C7BF9;
        box-shadow: 0px 10px 20px rgba(44,123,249,0.3);
    }

    &:active {
        background: #0854CD;
        box-shadow: 0px 10px 20px rgba(87,29,173,0.24);
    }
}

.btn-green {
    text-align: center;
    font: 500 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    background: $color_green;
    transition: all 300ms ease-out;

    &:hover {
        background: #24D62A;
        box-shadow: 0px 10px 20px rgba(36,214,42,0.24);
    }

    &:active {
        background: #0F9714;
        box-shadow: none;
    }
}

.btn-login {
    box-sizing: border-box;
    width: 92px;
    padding: 0 15px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $color_main;
    background: none;
    cursor: pointer;
    text-align: center;
    font: 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    transition: all 300ms ease-out;
    opacity: 0.5;

    &:hover {
        opacity: 1;
        background: $color_main;
        color: #12121B;
    }
}

.dop-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;

    ul {
        padding: 15px 0;
        list-style-position: outside;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 9px 9px;
        background: #146DFC;

        li {
            min-width: 70px;
            margin: 0 25px;
            text-align: center;

            a {
                display: inline-block;
                position: relative;
                padding: 10px 0;
                font: 500 14px/130% $font_main;
                color:$color_main;
                text-decoration: none;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    background: $color_main;
                    transition: all 300ms ease-out;
                }

                &:hover:before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

.dop-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 300ms ease-out;
    margin: 0 10px;
    cursor: pointer;

    .dm-icon {
        width: 18px;

        span {
            display: block;
            height: 1px;
            background: #FFFFFF;
            margin-top: 4px;
            transition: all 300ms ease-out;

            &:first-child {
                margin-top: 0;
            }
        }


    }

    &:hover, &.active {
        background: #146DFC;
    }
}

.content {
    padding: 130px 0 50px 0;
}

.gen-title {
    margin-bottom: 20px;
    text-align: center;
    font: bold 28px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;

    span {
        color: $color_yellow;
    }
}

.gen-text {
    margin-bottom: 10px;
    text-align: center;
    font: 18px/130% $font_main;
    color:$color_main;
}

.gen-game-block {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.game-flex {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .gen-game {
        margin: 0;
        height: 309px;
    }

    .gf-title {
        margin-bottom: 18px;
        padding-bottom: 0;
        font-size: 24px;

        &:before {display: none}
    }

    .gf-btn {
        width: 120px;
    }
}

.possibilities-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.possibilities-item {
    box-sizing: border-box;
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
    background: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 300 18px/130% $font_main;
    color:$color_main;
    margin-bottom: 25px;
}

.possibilities-icon {
    margin-right: 15px;
    font-size: 30px;
    color: #67A1FF;

    .icon-chart {
        font-size: 26px;
    }
}

.gen-game-title {
    margin-bottom: 35px;
    text-align: center;
    font: 18px/130% $font_main;
    color:$color_main;
    position: relative;
    overflow: hidden;

    span {
        opacity: 0.35;
    }

    &:before, &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        height: 1px;
        background: #232E45;
    }
    &:before {
        margin: 0 25px 0 -100%;
    }
    &:after {
        margin: 0 -100% 0 25px;
    }
}

.gen-game {
    display: block;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    width: 31.5%;
    height: 597px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-box-shadow: 0px 20px 40px rgba(0,0,0,0.29);
    box-shadow: 0px 20px 40px rgba(0,0,0,0.29);

    &:hover .gf-btn {
        background: $color_main;
        color: #000000;
    }
}

.gen-flex {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10%;
}

.gf-title {
    display: block;
    position: relative;
    margin-bottom: 35px;
    padding-bottom: 30px;
    text-align: center;
    font: 32px/130% $font_main;
    color:$color_main;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 60px;
        transform: translate(-50%, 0);
        height: 1px;
        background: $color_main;
    }
}

.gf-btn {
    display: block;
    box-sizing: border-box;
    width: 138px;
    height: 40px;
    border: 1px solid $color_main;
    border-radius: 4px;
    background: none;
    margin: 0 auto;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    font: 500 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    transition: all 300ms ease-out;

    &:hover {
        background: $color_main;
        color: #000000;
    }
}

.title {
    overflow: hidden;
    margin: 50px 0;
    text-align: center;
    font: 24px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;

    &:before, &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: 100%;
        height: 1px;
        background: #1E273B;
    }

    &:before {
        margin-left: -100%;
        margin-right: 50px;
    }
    &:after {
        margin-right: -100%;
        margin-left: 50px;
    }
    span {
        color: #146dfb;
    }
}

.join-flex {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.jf-item {
    width: 370px;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    background: #1F2635;
    border-radius: 10px;
    margin-bottom: 50px;
}

.jf-title {
    padding: 45px 0 25px 0;
    text-align: center;
    font: 500 21px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
}

.jf-list {
    margin: 0 0 40px 0;
    list-style-position: outside;
    list-style: none;
    position: relative;
    padding-top: 10px;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        width: 182px;
        height: 1px;
        background: #434955;
    }

    li {
        margin: 20px 0;
        text-align: center;
        font: 14px/130% $font_main;
        color:$color_main;
    }
}

.jf-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.jf-or {
    margin: 20px 58px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 114px;
    box-sizing: border-box;
    border: 2px solid #146DFB;
    border-radius: 50%;
    text-align: center;
    font: 600 21px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;

    &:before {
        content: "";
        position: absolute;
        left: -33px;
        top: 50%;
        transform: translate(0, -50%);
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #ffffff;
    }

    &:after {
        content: "";
        position: absolute;
        right: -33px;
        top: 50%;
        transform: translate(0, -50%);
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #ffffff;
    }
}

.text-center {
    margin: 45px auto;
    max-width: 900px;
    text-align: center;
    font: 15px/150% $font_main;
    color:$color_main;
}

.protection-list {
    margin-bottom: 50px;
    list-style-position: outside;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    li {
        width: 30%;
        box-sizing: border-box;
        padding-left: 42px;
        font: 16px/150% $font_main;
        color:$color_main;
        position: relative;
        margin-bottom: 40px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 1px;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            background: #15B41A;
        }

        &:after {
            font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\ea10";
            position: absolute;
            left: 6px;
            top: 6px;
            color: $color_main;
            font-size: 15px;
        }
    }
}

.footer-block {
    padding: 80px 0 30px 0;
    border-top: 1px solid #1E273B;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0 auto 40px auto;
    max-width: 970px;
}

.f-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.f-section {
    margin-left: 90px;

    &:first-child {
        margin-left: 0;
    }
}

.f-title {
    margin-bottom: 30px;
    font: bold 16px/130% $font_main;
    color:$color_main;
}

.f-menu {
    list-style-position: outside;
    list-style: none;

    li {
        margin-bottom: 25px;

        a {
            font: 300 14px/130% $font_main;
            color:$color_main;
            text-decoration: none;
            transition: all 300ms ease-out;

            &:hover {
                color: #f59518;
            }
        }
    }
}

.f-right {
    width: 200px;
}

.fr-cont {
    margin-bottom: 15px;
    font: 14px/150% $font_main;
    color:$color_main;

    a {
        color:$color_main;
        text-decoration: none;
    }

    p {
        margin-bottom: 8px;
    }
}

.f-email {
    margin-bottom: 15px;
    font: 300 14px/130% $font_main;
    color:$color_main;
}

.f-tel {
    margin-bottom: 15px;
    font: bold 14px/130% $font_main;
    color:$color_main;
    transition: all 300ms ease-out;

    &:hover {
        color: #f59518;
    }


    a {
        color: $color_main;
        text-decoration: none;
        transition: all 300ms ease-out;

        &:hover {
            color: #f59518;
        }
    }
}

.social {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: $color_main;
        color: #181A1E;
        font-size: 20px;
        transition: all 300ms ease-out;
        text-decoration: none;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            background: #f59518;
        }
    }
}

.copyright {
    text-align: center;
    font: 300 16px/130% $font_main;
    color:$color_main;
}

/*-------------------------------------------*/

.title-page {
    margin: 20px 0;
    text-align: center;
    font: 500 41px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;

    &.mar {
        text-align: left;
        margin-bottom: 40px;
    }
}

.title-page-text {
    margin: 20px 0 40px 0;
    text-align: center;
    font: 300 24px/130% $font_main;
    color:$color_main;
}

.big-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 25px auto 18px auto;
    width: 100%;
    max-width: 370px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    border: none;
}

.free-reg {
    margin: 15px 0 30px 0;
    text-align: center;
    font: 14px/130% $font_main;
    color:$color_main;

    a {
        text-decoration: none;
        color: $color_main;
    }
}

.cont-flex {
    margin: 40px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.video-block {
    display: block;
    flex-shrink:0;
    width: 48%;
    margin-right: 3%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    
    img {
        display: block;
        width: 100%;
        border-radius: 8px;
    }

    &:before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
        color: $color_main;
        content: "\e900";
    }
}

.cf-cont {
    width: 100%;
}

.small-news {
    margin-bottom: 30px;
    font: 14px/180% $font_main;
    color:$color_main;

    p {
        margin: 0 0 2px 0;
    }
}

.sn-title {
    margin-bottom: 5px;
    font: 18px/130% $font_main;
    color:#5898ff;
}

.sn-more {
    font: 14px/130% $font_main;
    color:#5898ff;
}

.separator {
    margin: 50px 0;
    border-top: 1px solid #1E273B;
}

.cf-title {
    margin-bottom: 40px;
    font: 24px/130% $font_main;
    color:#5898ff;
}

.cf-list {
    list-style-position: outside;
    list-style: none;

    li {
        margin: 25px 0;
        position: relative;
        padding-left: 32px;
        font: 300 16px/130% $font_main;
        color:$color_main;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 6px;
            height: 6px;
            background: #146DFD;
            border-radius: 50%;
        }
    }
}

.faq-list {
    margin: 20px 0 50px 0;
    list-style-position: outside;
    list-style: none;

    li {
        margin-bottom: 10px;
    }
}

.faq-title {
    padding: 16px 58px 16px 35px;
    background: #1C1D30;
    border-radius: 9px;
    cursor: pointer;
    font: 16px/130% $font_main;
    color:$color_main;
    position: relative;
    
    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 30px;
        margin-top: -1px;
        height: 2px;
        width: 12px;
        background: #FFFFFF;
        transition: all 300ms ease-out;
    }

    &:after {
        transform: rotate(90deg);
    }

    &.active:after {
        transform: rotate(0deg);
    }
}

.faq-text {
    margin: 16px 40px 26px 40px;
    display: none;
    font: 300 14px/130% $font_main;
    color:$color_main;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1030px;
    margin: 0 auto;
}

.cb-cont {
    width: 100%;
}

.cb-form {
    box-sizing: border-box;
    width: 370px;
    margin: 50px 0 50px 50px;
    padding: 36px 32px;
    border-radius: 9px;
    background: rgba(31,32,53, 0.87);
    flex-shrink:0;

    form {
        max-width: 272px;
        margin: 0 auto;
    }
}

.cb-title {
    margin-bottom: 30px;
    text-align: center;
    font: 500 18px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
}

.cbf-row {
    margin-bottom: 12px;

    label {
        display: block;
        margin-bottom: 5px;
        font: 500 12px/130% $font_main;
        color:$color_main;
        text-transform: uppercase;
    }
    
    .cbf-text-field {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 45px;
        padding: 0 20px;
        border: none;
        border-radius: 5px;
        background: #2F3151;
        font: 14px/130% $font_main;
        color:$color_main;

        &:focus::-moz-placeholder {opacity: 0}
        &:focus::-webkit-input-placeholder{opacity: 0}

    }

    .cbf-textarea {
        resize: none;
        overflow: auto;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 180px;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        background: #2F3151;
        font: 14px/130% $font_main;
        color:$color_main;

        &:focus::-moz-placeholder {opacity: 0}
        &:focus::-webkit-input-placeholder{opacity: 0}
    }
}

.cbf-sub {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: none;
    background: #146DFC;
    margin: 14px 0 0 0;
    padding: 0;
    cursor: pointer;
    font: 500 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    transition: all 300ms ease-out;
}

.contact-row {
    margin: 20px 0;
    font: 300 16px/150% $font_main;
    color:$color_main;

    span {
        font-weight: 500;
        font-size: 18px;
    }

    b {
        font-weight: bold;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: $color_main;
    }

    .social a {
        color: #181A1E;

        &:hover {
            color: $color_main;
        }
    }
}
/*---------------------------------------------*/
.user-block {
    min-width: 245px;
    margin-left: 200px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ub-pic {
    flex-shrink:0;
    margin-right: 15px;
    width: 43px;
    height: 43px;
    border-radius: 8px;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        border-radius: 8px;
    }
}

.ub-cont {
    width: 100%;
}

.ub-name {
    margin-bottom: 1px;
    font: 500 14px/130% $font_main;
    color:$color_main;
}

.ub-exit {
    font: 14px/130% $font_main;
    color:#66b5ff;

    a {
        color:#66b5ff;
        text-decoration: none;
    }

    &:hover, a:hover {
        text-decoration: underline;
    }
}

.ap-flex {
    padding-top: 103px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ap-sidebar {
    flex-shrink:0;
    width: 270px;
    margin-right: 30px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 15px;
    background: rgba(31,32,53, 0.87);
}

.apm-btn {
    display: none;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    background: #1361DF;
    cursor: pointer;
    font: 16px/130% $font_main;
    color:$color_main;
    text-decoration: none;
    text-transform: uppercase;

    &:before {
        position: absolute;
        right: 15px;
        top: 50%;
        font-size: 18px;
        transform: translate(0, -50%);
        content: "\e904";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.ap-menu {
    list-style-position: outside;
    list-style: none;

    li {
        margin: 3px 0;
        display: block;
        border-radius: 5px;
        transition: all 300ms ease-out;

        &:hover, &.open, &.active {
            background: #146DFD;
            box-shadow: 0px 10px 20px rgba(9,31,67,0.99);
        }

        a {
            display: block;
            padding: 12px 30px 12px 20px;
            position: relative;
            font: 16px/130% $font_main;
            color:$color_main;
            text-decoration: none;
            border-radius: 5px;

            .arrow-menu {

                font-size: 16px;
                color: $color_main;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translate(0, -50%);

                &:before {
                    content: "\e905";
                    font-family: 'icomoon' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }


        }

        ul {
            display: none;
            margin: 0;
            padding: 0 16px 12px 16px;

            li, li:hover {
                background: none;
                box-shadow: none;

                a {
                    padding: 8px 16px;
                    font-size: 13px;
                    border-radius: 5px;
                    transition: all 300ms ease-out;

                    &:hover {
                        background: #073C91;
                    }
                }
            }
        }
    }

}

.ap-cont-block {
    width: 100%;
}

.ap-cont {
    box-sizing: border-box;
    background: #191B2C;
    padding: 10px 38px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.ap-title-block {
    padding: 14px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #2F3151;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ap-title-page {
    margin: 8px 0;
    font: 16px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
}

.ap-filter-block {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.apf-select {
    margin-bottom: 20px;
    width: 192px;
}

.apf-label {
    display: block;
    margin-bottom: 8px;
    font: 500 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
}

/**/
.ui-selectmenu-button {
    display: block;
    width: 100%!important;
    box-sizing: border-box;
    border: 1px solid #2F3151;
    background: #2F3151;
    border-radius: 5px;
    font: 300 14px/130% $font_main;
    color:$color_main;


    &.ui-corner-top {
        border-color: #146DFC;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(2,2,2,0.12);
        z-index: 101;
    }
}

.ui-corner-top.ui-selectmenu-button span.ui-icon {
    background: #146DFC;
}

.ui-selectmenu-button span.ui-icon {
    right: -1px;
    margin-top: 0;
    top: -1px;
    bottom: -1px;
    width: 52px;
    background: #4B4D7D;
    height: auto;
    padding: 0;

    &:before {
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e904";
        font-size: 14px;
        color: $color_main;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-indent: 0;
        margin-top: 1px;
    }
}

.ui-selectmenu-button span.ui-selectmenu-text {
    padding: 1px 55px 0 20px;
    line-height: 42px;
}

.ui-widget-content {
    margin-top: -5px;
    padding-top: 10px;
    border: 1px solid #020202;
    border-top: none;
    background: #2F3151;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 10px 20px rgba(2,2,2,0.15);
}

.ui-widget-content .ui-state-focus{
    border: none;
    background:#146DFC;
    font: 300 14px/130% $font_main;
    color:$color_main;
    margin: 0;
}

.ui-menu .ui-menu-item {
    padding: 8px 20px;
    list-style-position: outside;
    list-style: none;
    font: 300 14px/130% $font_main;
    color:$color_main;
}
/**/

.apf-search-block {
    position: relative;
    width: 232px;
    margin-bottom: 20px;
}

.apf-search {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 45px 0 18px;
    border: none;
    border-radius: 5px;
    background: #2F3151;
    font: 300 14px/130% $font_main;
    color:$color_main;

    &:focus::-moz-placeholder {opacity: 0}
    &:focus::-webkit-input-placeholder{opacity: 0}
}

.apf-search-sub {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 42px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    color: $color_main;
    font-size: 18px;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

.apf-sub {
    display: block;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    padding: 0;
    width: 90px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background: #146DFC;
    box-shadow: 0px 10px 20px rgba(87, 29, 173, 0.24);
    font: 500 14px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        background:#2C7BF9;
        box-shadow: 0px 10px 20px
        rgba(44, 123, 249, 0.3);
    }

    &:active {
        background:#0854CD;
        box-shadow: 0px 10px 20px
        rgba(87, 29, 173, 0.24);
    }
}

.ap-table {

    table {
        width: 100%;
        border-collapse: collapse;
        vertical-align: middle;
        text-align: left;
    }

    tr {
        border-top: 1px solid #2F3151;

        &:first-child {
            border-top: none;
        }
    }

    th {
        padding: 12px 4px;
        font: 500 12px/130% $font_main;
        color:$color_main;
        text-transform: uppercase;
    }

    td {
        padding: 18px 4px;
        font: 14px/130% $font_main;
        color:$color_main;

        &:nth-child(2){
            font-weight: 300;
            width: 32%;
            padding-right: 15px;
        }

        &:last-child {
            width: 69px;
        }
    }
}

.toggle-row {
    display: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translate(0, -50%);

    &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 12px;
        background:#FFFFFF;
        transition: all 300ms ease-out;
    }

    &:after {
        transform: rotate(90deg);
    }
}

.open .toggle-row:after {
    transform: rotate(0deg);
}

.btn-small {
    box-sizing: border-box;
    width: 69px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font: 500 14px/130% $font_main;
    color:$color_main;
}

.nav-links {
    margin: 40px 0;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-align-items:center;
    -webkit-align-items:center;
    align-items:center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nav-links .page-numbers, .nav-links .current, .nav-links .dots {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 0 4px;
    padding: 0 2px;
    border: 1px solid #1B1E22;
    background: none;
    text-align: center;
    font: 300 14px/49px $font_main;
	color:$color_main;
    text-decoration: none;
    transition: all 300ms ease-out;
    border-radius: 5px;
}

.nav-links .current, .page-numbers:hover {
    background: #1367EE;
}

.nav-links .dots:hover {

}

.nav-links .prev.page-numbers, .nav-links .next.page-numbers {
    font-size: 16px;
}

.apt-btn-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.apt-btn {
    display: block;
    margin: 0 0 0 10px;
    box-sizing: border-box;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: none;
    padding: 0 18px;
    font: 500 12px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 300ms ease-out;

    &:hover {
        background: #fff;
        color: #000000;
    }

    &:first-child {
        margin-left: 0;
    }
}

.ap-flex-st {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ap-item {
    width: 30%;
    margin-right: 3%;
}

.apf-row {
    margin: 15px 0;
}

.ap-text-field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    border: 1px solid #2F3151;
    background: #2F3151;
    border-radius: 5px;
    font: 300 14px/130% $font_main;
    color:$color_main;

    &:focus::-moz-placeholder {opacity: 0}
    &:focus::-webkit-input-placeholder{opacity: 0}
}

.apf-av-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.apf-av {
    width: 208px;
    border-radius: 4px;
    overflow: hidden;
    
    img {
        display: block;
        width: 100%;
        border-radius: 4px;
    }
}

.apf-av-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 0 10px 0;
    border: none;
    background: none;
    font-size: 10px;
    color: $color_main;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    transition: all 300ms ease-out;

    &:hover {
        background: #146DFC;
    }

    b {
        display: none;
        font: 12px/130% $font_main;
        text-transform: uppercase;
    }
}

.api-btn-block {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .apf-sub {
        margin: 0 25px 0 0;
    }

    .apf-sub-del {
        display: block;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
        font: 14px/130% $font_main;
        color:$color_main;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: #146dfc;
        }
    }
}

.ap-cont .separator {
    margin: 10px 0;
}

.ed-block .ap-flex-st {
    margin-bottom: 0;
}

.apf-text {
    margin: 18px 0;
    font: 300 14px/130% $font_main;
    color:$color_main;

    span {
        font-weight: normal;
    }
}

.apf-link {
    font: 14px/130% $font_main;
    color:#5697ff;
}

.apf-btn-block {
    margin: 15px 0;
}

.apf-sub-block {
    width: 100%;
    margin-top: 15px;
}

.ap-game-list {
    margin: 28px 0;
}

.ap-game {
    border-top: 1px solid #2F3151;
}

.apg-title {
    position: relative;
    padding: 18px 40px 18px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: 14px/130% $font_main;
    color:$color_main;
    text-transform: uppercase;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
        background: #2F3151;
    }
}

.drag-icon {
    width: 15px;
    margin-right: 18px;
    cursor: move;

    span {
        display: block;
        height: 1px;
        background: #8C8D96;
        margin-top: 3px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.apg-toggle {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    transform: translate(0, -50%);

    &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 12px;
        background:#FFFFFF;
        transition: all 300ms ease-out;
    }

    &:after {
        transform: rotate(90deg);
    }
}

.open .apg-toggle:after {
    transform: rotate(0deg);
}

.apg-cont {
    margin: 25px 0;
}

.apgc-text {
    margin: 20px 0;
    font: 300 14px/130% $font_main;
    color:$color_main;
}

