.bg-filled {
    background: rgba(31, 32, 53, 0.87);
	border: 1px solid rgba(2, 2, 2, 0.04);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.07);
	        box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.07);
}
.separator-light {
  	border-color: #505260;
}
.separator-lighter {
	border-color: #343651;
}
.lined {
	&-top {
		border-top: #505260 1px solid;
	}
	&-bottom {
		border-bottom: #505260 1px solid;
	}
}
.separator-vertical {
	background: #484956;
	margin: 0 38px 0 33px;
	width: 1px;
	height: 58px;
}
.sm-show {
	display: none;
}
.section {
	&-row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 10px;
	}
	&_col-md {
		display: none;
	}
	&-start {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		&.referals {
    		margin: -24px 0 -20px;
		}
		.pageBlock_explain {
    		width: 481px;
		}
	}
	&-end {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}
input {
	font-family: "Montserrat", sans-serif;
}
.item_label {
    display: block;
    font: 500 12px/130% "Montserrat", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
	font-weight: 400;
}
.btn {
	padding: 12px 17px 9px 19px;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.14);
	border-radius: 6px;
	text-decoration: none;
	cursor: pointer;
	&_delete {
		cursor: pointer;
		font: 14px/130% "Montserrat", sans-serif;
	}
	&-transparent {
		border: 1px solid #505260;
		border-radius: 5px;
   		padding: 14px 22px 11px;
		font-size: 12px;
		font-weight: bold;
	}
	&-simple {
		border: none
	}
}
.mgr30 {
	margin-right: 30px;
}
.mgb10 {
	margin-bottom: 10px;
}
.pageContent {
    padding-top: 103px;
	&_wrapper {
		width: 1170px;
    	margin: 0 auto;
	}
	&_title {
  		font-size: 32px;
	}
}
.pageBlock {
    padding: 25px 38px 30px;
    border-radius: 4px;
    margin-bottom: 40px;
	&_title__container {
		padding: 14px 0;
		margin-bottom: 8px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	&_title {
		margin: 8px 0;
		font: 16px/130% "Montserrat", sans-serif;
		color: #ffffff;
		text-transform: uppercase;
		&-smaller {
			font-size: 14px;
    		width: 100%;
    		margin-bottom: 24px;
		}
	}
	&_steps {
		.separator {
			margin: 10px 0 26px 0 !important;
		}
	}
	&_item {
		&-bigger {
			width: 339px !important;
			margin-right: 55px;
		}
		&-md {
			display: none;
		}
		&.lined-top {
			border-top: #505260 1px solid;
   	 		margin: 6px 0 -35px;
		}
	}

	.separator {
		margin: 34px 0;
	}
	&_explain {
		font-size: 14px;
		line-height: 22px;
    	color: #ffffffc2;
	}

	&_section {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		&.guides {
			.section_col {
				width: 223px;
			}
			.item_label {
				margin-bottom: 12px;
			}
			.step_btn__container {
				margin-top: 28px;
				justify-content: space-between;
				width: 203px;
			}
			.btn-blue {
				padding-left: 20px;
				padding-right: 20px;
			}
			.btn-simple {
				font-size: 14px;
			}
		}
		&-equal > * {
			-webkit-box-flex: 1;
			    -ms-flex-positive: 1;
			        flex-grow: 1;
			-ms-flex-preferred-size: 0;
			    flex-basis: 0;
		}
		&-start {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
	}
	&_step4 {
		.section-row {
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
    		-webkit-box-align: center;
    		    -ms-flex-align: center;
    		        align-items: center;
		}
		.btn_delete {
			margin-top: 39px;
		}
		&__left .section_col {
			width: 225px;
		}
		&__right .dropdown,
		&__right input {
			width: 255px;
			margin-right: 23px;
		}
		&__right .btn {
			padding: 14px 31px 13px 31px;
    		margin-top: 38px;
		}
		.item_label {
    		margin: 12px 0;
		}
		.step_btn__container {
			margin-bottom: 35px;
		}
	}
	&_step2__03 {
		.pageBlock_item {
			position: relative;
			padding-bottom: 60px;
		}
		.step_btn__container {
			position: absolute;
			bottom: 14px;
			right: 0;
		}
		.radioBox {
			margin-bottom: 23px;
		}
		.radioBox_container {
    		margin: -16px 0 23px 0;
		}
		.input-evaluated {
			width: 120px !important;
		}
	}
	&_farm .pageBlock_item:nth-child(2) {
    	margin: 0 -149px 0 -106px
	}
	&_step3__01 {
		.dropdown,
		.input-evaluated {
			width: 269px;
		}
		.bTextarea {
			width: 571px;
			height: 128px;
			margin-top: 5px;
		}
		.pageBlock_item {
		}
		.pageBlock_item:first-child .section-row {
			width: 426px;
		}
		.pageBlock_item:last-child {
			width: 100%;
		}
	}
	&_step1 {
		.input-evaluated {
			width: 270px;
		}
		.item_label {
			margin-bottom: 12px;
		}
		.step_btn__container {
    		margin-top: 28px;
		}
		.dropdown {
			width: 170px;
		}
		&__dropdown {
			width: 325px !important;
		}
		.pageBlock_section {
			margin-top: 20px;
		}
	}
//	&_section-fastBuy .pageBlock_item-bigger {
//		display: none;
//	}
}

.step {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
	cursor: pointer;
	&_btn__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 237px;
		height: 41px;
	}
	&_btn:first-child {
		margin-right: 13px;
	}
	&_container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
    	margin-bottom: 37px;
	}
	&_dot {
		width: 28px;
		height: 28px;
		border-radius: 50%;
		position: absolute;
		left: 50%;
    	-webkit-transform: translate(-50%, -10px);
    	    -ms-transform: translate(-50%, -10px);
    	        transform: translate(-50%, -10px);
		background: #020b1a;
		&__line {
			width: 100%;
			height: 5px;
			background: #020b1a;
    		border-radius: 10px;
		}
		&__container {
    		margin: 31px 0 26px;
			width: 100%;
			position: relative;
		}
	}
	&-active {
		.step_dot__line {
			background: #15b41a
		}
		.step_dot {
  			background-color: #15b41a;
		}
		.step_dot::after {
			content: "";
			position: absolute;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: white;
			left: 7px;
			top: 7px;
		}
	}
}
.dropdown {
	position: relative;
	border-radius: 6px;
	overflow-x: hidden;
	cursor: pointer;
	&-transparent {
		border: 1px solid #505260;
		.dropdown_item {
			background: transparent;
		}
		.dropdown_arrow {
			background: transparent;
		}
	}
	&_arrow {
		position: absolute;
		width: 53px;
		right: 0;
		height: 100%;
		background: #4B4D7D;
	}
	&_arrow::before, &_arrow::after {
		content: '';
		position: absolute;
		width: 7px;
		height: 2px;
		background: white;
    	-webkit-transform: rotate(45deg) translateY(-50%);
    	    -ms-transform: rotate(45deg) translateY(-50%);
    	        transform: rotate(45deg) translateY(-50%);
    	top: 50%;
    	left: 40%;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
	&_arrow::before {
    	-webkit-transform: rotate(-45deg) translateY(-50%);
    	    -ms-transform: rotate(-45deg) translateY(-50%);
    	        transform: rotate(-45deg) translateY(-50%);
		margin-left: 5px;
	}
	&:hover &_arrow::before, &:hover &_arrow::after {
		top: 55%;
	}
	&_item {
		background: #2F3151;
		font-weight: 300;
		font-size: 14px;
		padding: 16px 71px 12px 19px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	&-md {
		display: none;
	}
}
.radioBox {
	margin: 0 28px 0 1px;
	&_container {
		padding: 12px 0 13px;
	}
	&_input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		margin: 10px 0 0 7px;
	}
	&_title {
		position: relative;
		padding: 0 0 0 35px;
		cursor: pointer;
		font-size: 14px;
	}
	&_title:before, &_title:after {
		content: '';
		position: absolute;
		border-radius: 50%;
	}
	&_title:before {
		top: -3px;
		left: 0;
		width: 22px;
		height: 22px;
		background: rgba(8, 8, 13, 0.2);
		border: 1px solid #1562DF;
	}
	&_title:after {
		top: 4px;
		left: 7px;
		width: 11px;
		height: 11px;
		background: white;
		opacity: 0;
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
	}
	&_input:checked + &_title:before {
		background: #1562DF;
	}
	&_input:checked + &_title:after {
		opacity: 1;
	}
}
.checkBox {
    margin-bottom: 24px;
	&_input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		margin: 10px 0 0 7px;
	}
	&_title {
		position: relative;
		padding: 0 0 0 35px;
		cursor: pointer;
    	font-weight: 300;
		font-size: 14px;
	}
	&_title:before, &_title:after {
		content: '';
		position: absolute;
		border-radius: 35%;
	}
	&_title:before {
		top: -3px;
		left: 0;
		width: 22px;
		height: 22px;
		background: rgba(8, 8, 13, 0.2);
		border: 1px solid #1562DF;
	}
	&_title:after {
		background: url(../images/icons/check.svg) no-repeat;
		top: 4px;
		left: 7px;
		width: 12px;
		height: 11px;
		opacity: 0;
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
	}
	&_input:checked + &_title:before {
		background: #1562DF;
	}
	&_input:checked + &_title:after {
		opacity: 1;
	}
}

.input {
	&-evaluated {
		border-radius: 5px;
		overflow: hidden;
		background: #2F3151;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		input {
			background: transparent;
			padding: 15px 3px 12px 21px;
			outline: inherit;
			border: none;
			color: white;
			font-weight: 300;
			font-size: 14px;
			letter-spacing: 0.4px;
			color: #D8D8DC;
			width: 100%;
			&::-webkit-input-placeholder {
				color: #D8D8DC
			}
			&::-moz-placeholder {
				color: #D8D8DC
			}
			&:-ms-input-placeholder {
				color: #D8D8DC
			}
			&::-ms-input-placeholder {
				color: #D8D8DC
			}
			&::placeholder {
				color: #D8D8DC
			}
		}
		label {
			padding-right: 16px;
			color: #a9aabe
		}
	}
	&-simple {
		display: block;
		-webkit-box-sizing: border-box;
				box-sizing: border-box;
		width: 100%;
		height: 45px;
		padding: 0 20px;
		border: 1px solid #2F3151;
		background: #2F3151;
		border-radius: 5px;
		font: 300 14px/130% "Montserrat", sans-serif;
		color: #ffffff;
	}
	&-num {
		&::-webkit-inner-spin-button {
		   	opacity: 1;
			color: white;
		}
		background: #2F3151;
		font-weight: 300;
		font-size: 14px;
		padding: 16px 19px 12px 19px;
		border-radius: 8px;
		box-sizing: border-box;
    	color: #D8D8DC;
		outline: none;
		border: none;
	}
	&-search {
		background: #2F3151;
		font-weight: 300;
		font-size: 14px;
		height: 45px;
		width: 329px;
		border-radius: 8px;
		box-sizing: border-box;
    	color: white;
		display: flex;
    	justify-content: space-between;
		overflow: hidden;
		input[type=text] {
			height: 100%;
			background: transparent;
			border: none;
			width: 100%;
			color: white;
			padding-left: 21px;
			letter-spacing: 0.5px;
			&::placeholder {

    			color: white;
			}
			&:focus::placeholder {
				color: transparent;
			}
		}
		input[type=submit] {
			text-indent: -999px;
			background-image: url(../images/icons/search.svg);
			background-size: 16px;
			background-position: center;
			background-repeat: no-repeat;
			min-width: 53px;
			height: 100%;
			background-color: #4B4D7D;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}
}

.pageBlock_section {
	&-cols05 {
		position: relative;
		.pageBlock_item {
			width: 125px;
			z-index: 1;
		}
		.input-evaluated {
			width: 80px;
		}
		.input-evaluated input {
			padding: 15px 3px 12px 17px;
		}
		.input-evaluated label {
			padding-right: 16px;
			font-size: 12px;
		}
		.section-row {
			margin-bottom: 8px
		}
		.radioBox_container {
			margin-bottom: 15px;
		}

	}
	&-cols04 {
		flex-wrap: wrap;
		.pageBlock_item {
			width: 261px;
		}
		.input-evaluated {
			width: 90px;
    		margin-right: 55px;
		}
		.input-evaluated input {
			padding: 15px 3px 12px 17px;
		}
		.input-evaluated label {
			padding-right: 13px
		}
		.section-row {
			margin-bottom: 10px
		}
		.pageBlock_title__container {
			width: 100%;
		}
	}

}
.pageBlock_item-bigger {

	font-size: 14px;
	.dropdown {
		width: 117px;
	}
}
.screen {
	width: 107px;
	height: 63px;
	position: relative;
	margin: 0 11px 10px 0;
	display: none;
	&:nth-child(-n+12) {
		display: block;
	}
	&_container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-right: 55px;
	}
	&_img {
		height: 100%;
		width: 90px;
		border-radius: 8px;
	}
	&_removal {
		position: absolute;
		top: 0;
		right: 0;
		width: 11px;
		height: 11px;
		cursor: pointer;
	}
	&_removal::after, &_removal::before {
		content: "";
		position: absolute;
		top: 5px;
		width: 11px;
		height: 2px;
		background: white;
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	&_removal::before {
		-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}
}
.bTextarea {
	width: 100%;
	min-width: 100%;
	height: 271px;
	background-color: #2F3151;
	outline: none;
	padding: 20px 24px 20px 24px;
	color: white;
	font-weight: 300;
	font-size: 14px;
	line-height: 28px;
	border: none;
    border-radius: 6px;
	resize: none;
	letter-spacing: 0.2px;
    color: #D8D8DC;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	&::-webkit-input-placeholder {
		font-family: "Montserrat", sans-serif;
		color: #D8D8DC;
		letter-spacing: 0.2px
	}
	&::-moz-placeholder {
		font-family: "Montserrat", sans-serif;
		color: #D8D8DC;
		letter-spacing: 0.2px
	}
	&:-ms-input-placeholder {
		font-family: "Montserrat", sans-serif;
		color: #D8D8DC;
		letter-spacing: 0.2px
	}
	&::-ms-input-placeholder {
		font-family: "Montserrat", sans-serif;
		color: #D8D8DC;
		letter-spacing: 0.2px
	}
	&::placeholder {
		font-family: "Montserrat", sans-serif;
		color: #D8D8DC;
		letter-spacing: 0.2px
	}
	&-red {
		border: 1px solid rgb(219, 33, 33);
	}
}
.rangeBlock {
	width: 49%;
	&_btn__container {
		width: 243px;
		display: flex;
		justify-content: space-between;
		.btn-simple {
			font-size: 15px;
		}
	}
	&_btns {
    	border-top: 1px solid #343651;
		padding-top: 28px;
		margin-top: 45px;
	}
	&_container {
		.lined {
			&-top {
				border-color: #343651;
			}
			&-bottom {

			}
		}
		.btn-transparent {
			background: #181929;
			font-weight: 400;
		}
		.lined-bottom {
			padding: 20px 0;
    		margin: 38px 0 28px;
		}
		.item_col {
			width: 223px;
			margin-right: 32px;
		}
		.section-start .item_label {
			margin: 6px 5px;
		}
	}
	&_slider {
		margin: 0 9px 0 7px;
		position: relative;
		box-sizing: border-box;
		padding-top: 5px;
	}
	&_top {
		display: flex;
		justify-content: space-between;
		.rangeBlock_slider {
			width: 206px;
		}
		.item-label {
			min-width: 150px;
    		font-size: 12px;
		}
		.input-evaluated {
    		width: 81px;
			input {
    			font-weight: 500;
				color: white;
				padding: 9px 3px 9px 15px;
			}
			label {
				padding: 1px 0 0 0;
				min-width: 34px;
				font-size: 12px;
			}
		}
		.section-row, .section-start, .checkBox {
    		height: 65px;
			margin: 0;
		}
		.checkBox {
			display: flex;
			align-items: center;
		}
		.rangeBlock:nth-child(2) .input-evaluated label {
			min-width: 26px;
		}
	}
	&_bottom {
		display: flex;
		justify-content: space-between;
    	margin-bottom: 23px;
		.rangeBlock_slider {
			width: 263px;
		}
		.section-row {
    		height: 60px;
			margin: 0;
		}
		.checkBox {
			margin: 0;
		}
		.rangeBlock_slider {
			display: flex;
		}
		input[type=text] {
			outline: none;
			background: transparent;
			border: none;
			width: 23px;
			text-align: center;
			color: #a9aabe;
			&::placeholder {
				color: #a9aabe;
			}
			&:focus::placeholder {
				color: transparent;
			}
		}
		.rangeBlock:nth-child(2) {
			.rangeBlock_item .input-evaluated {
				background: transparent;
				input {
    				width: 30px !important;
					padding: 1px 0 0;
    				font-size: 13.5px;
				}
				label {
					padding: 0 5px 0 0;
    				font-size: 13.5px;
				}
			}
			.rangeBlock_item .input-evaluated:nth-child(4) {
				input {
					width: 47px !important;
				}
			}
		}
	}
	&_item {
		display: flex;
	}
	input[type=range] {
    	-webkit-appearance: none !important;
    	background: transparent;
	}
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		appearance: none !important;
		width: 25px !important;
		height: 25px !important;
		border-radius: 50% !important;
		background: #146DFC !important;
		cursor: pointer !important;
		box-shadow: 0px 0px 3px black;
//		margin-left: 50px;
	}

	input[type=range]::-moz-range-thumb{
		width: 25px !important;
		height: 25px !important;
		border-radius: 50% !important;
		background: #146DFC !important;
		cursor: pointer !important;
		box-shadow: 0px 0px rgba(0, 0, 0, 0.63);
//		margin-left: 50px;
	}

}
.select_container.amounted{
	.btnLined {
    	margin-right: 63px;
    	padding: 12px 6px 12px 6px;
	}
}

.editPage {
	&_props {
		max-width: 759px;
		.pageBlock_item {
			margin-top: 33px;
			margin-bottom: 33px;
			.item_label {
				margin-bottom: 22px;
			}
		}
		&__price {
			.item_label {
				width: 128px;
			}
			.priceRange {
				width: 327px !important;
			}
			.priceRange_separator {
				font-size: 12px;
				margin: 0 18px 0 22px !important;
			}
			.input-num {
				width: 135px;
			}
		}
		&__res {
			margin-right: 44px;
			.item_label {
				width: 67px;
			}
			.input-evaluated {
				width: 191px;
			}
		}
	}
	&_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.item-label {
			margin-top: 10px;
		}
	}
	&_objImg {
		width: 100%;
		height: 213px;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			height: 100%;
			width: auto;
			left: 50%;
			transform: translateX(-50%);
		}
		&__container {
			width: 271px;
			position: relative;

		}
		&__remove {
			position: absolute;
			width: 13px;
			height: 13px;
			right: -26px;
			top: 24px;
			cursor: pointer;
			&::after, &::before {
				content: '';
				position: absolute;
				width: 13px;
				height: 2px;
				background: white;
				transform: rotate(45deg);
				top: 4px;
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
		&__edit {
			position: absolute;
			right: -26px;
			top: 47px;
			height: 13px;
			width: 13px;
			background-image: url(../images/icons/edit.svg);
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}

	.pageContent_title {
		display: flex;
		align-items: center;
		.pageBlock_explain {
			font-size: 13px;
			color: gray;
			margin-left: 11px;
		}
		.item-label {
			margin-top: 10px;
			margin-left: 2px;
		}
	}
	.btn-transparent {
		font-weight: 400;
	}
	&_mid {
		display: flex;
		justify-content: space-between;
		& > div {
			width: 49%;
			box-sizing: border-box;
		}
		& > div:first-child {
			padding-right: 34px;
		}
		.pageBlock_item {
			width: 228px
		}
		.item_label {
			margin-bottom: 8px;
		}
		.section-row, .section-start {
			margin-bottom: 35px;
			align-items: center;
		}
		.checkBox {
			margin: 0 42px 0 0;
		}
	}
	&_link {
		width: 372px;
	}
	.priceRange {
		display: flex;
		align-items: center;
    	width: 291px;
		&_separator {
			margin: 0 11px;
		}
	}
	&_url {
		outline: none;
		border: none;
    	background: #2F3151;
    	padding: 16px 19px 12px 19px;
    	border-radius: 5px;
		width: 100%;
		display: block;
		box-sizing: border-box;
		color: gray;
		&::placeholder {
			color: inherit;
			font-size: 14px;
		}
		&:focus::placeholder {
			color: transparent;
		}
	}
}
.pageBlock_section-start + .section-row.lined-top {
//    border-top: #505260 1px solid;
    margin: 22px 0 -38px;
//   	padding-top: 12px;
//    height: 52px;
	.sm-scroll {
		margin: 1px 0 -1px;
		padding-top: 12px;
		height: 52px;
		width: 100%;
	}
	.input-search {
    	margin-top: -21px;
	}
}
.btnLined {
    border-radius: 5px;
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    font: 16px/130% "Montserrat", sans-serif;
	position: relative;
    padding: 12px 14px;
	color: white;
	text-decoration: none;
	margin: 0 5px;
	position: relative;
	&_amount {
		margin-left: 5px;
		font-size: 14px;
		color: #d3d3d38c;
//		position: absolute;
		line-height: 18px;
	}
	&_container {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	margin: -27px 0 -33px;
		&.lined-top {
			border-top: #505260 1px solid;
			margin: 20px 0 -32px;
    		padding-top: 10px;
		}
	}
	&-active::before, &:hover:before {
		left: 0 !important;
		width: 100% !important;
	}
	&::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		height: 3px;
		width: 0px;
		background: #1261DF;
		-webkit-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out;
	}
}
.card {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	&_wrapper {
		padding: 21px 25px 22px 24px;
		margin-bottom: 10px;
		background: rgba(31, 32, 53, 0.87);
		border-radius: 10px;
		.item_label {
			margin: 0 0 5px 3px;
		}
	}
	&_separator {
		margin: 21px 0;
	}
	&_settings {
		&__actions {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: end;
			    -ms-flex-align: end;
			        align-items: flex-end;
		}
		&__remove {
			display: block;
			position: relative;
			width: 11px;
			height: 11px;
			cursor: pointer;
    		margin: -9px 0 17px;
		}
		&__remove::after, &__remove::before {
			content: "";
			position: absolute;
			top: 5px;
			width: 11px;
			height: 1px;
			background: #a0a0a0;
			-webkit-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			        transform: rotate(45deg);
		}
		&__remove::before {
			-webkit-transform: rotate(-45deg);
			    -ms-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
		.card_btn {
    		padding: 16px 29px 15px;
		}
		&__checkbox {
			display: none;
		}
	}
	&_dropdown01 {
    	width: 293px;
	}
	&_dropdown02 {
    	width: 280px;
	}
	&_status {
		color: rgb(21, 180, 26);
		margin-left: 10px;
		margin-right: 19px;
		&__wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
    		font-size: 14px;
		}
	}
	&_moderation {
		padding-right: 48px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		font-size: 12px;
		&__result {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			margin-bottom: 26px;
			span {text-transform: uppercase;}
			p {color: #F41818;margin-left: 4px}
		}
		&__reason {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			span {text-transform: uppercase;}
			p {margin-left: 15px;line-height: 25px;margin-top: -5px;}
		}
	}
	&_container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		&-right {
			min-width: 372px;
		}
		&-left {
			width: 100%;
			margin-right: 33px;
		}
	}
	&_links {
		position: relative;
	}
	&_dropdown {
		position: absolute;
		right: 0;
    	border: 1px solid #1B1E22;
		width: 82px;
		height: 50px;
		.dropdown_arrow {
			background: transparent;
		}
		.dropdown_item{

			background: transparent;
		}
	}
	&_img {
		position: relative;
		overflow: hidden;
		border-radius: 15px;
		height: 100%;
		&__container {
			min-width: 75px;
			height: 75px;
			position: relative;
			margin-right: 23px;
		}
		img {
			height: 100%;
			position: absolute;
			left: 50%;
			-webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}
	&_favorite {
		width: 30px;
		height: 26px;
		position: absolute;
		left: -12px;
		top: -11px;
		background: url(../images/icons/favorite.svg) center;
		z-index: 1;
		cursor: pointer;
		&.active {
			background: url(../images/icons/favorite-active.svg) center;
		}
	}
	&_hot {
		position: absolute;
		right: -11px;
		top: -9px;
		border-radius: 8px;
		z-index: 1;
		background: #F21717;
		padding: 7px 4px 8px 5px;
		font-weight: bold;
		font-size: 12px;

	}
	&_content {
		width: 100%;
	}
	&_id {
		font-weight: 300;
		font-size: 13px;
		line-height: 28px;
	}
	&_title {
		font-weight: normal;
		font-size: 16px;
		line-height: 16px;
		margin-right: 13px;
	}
	&_descr {
		font-weight: 300;
		font-size: 13px;
		line-height: 28px;
	}
	&_date {
		font-weight: normal;
		font-size: 12px;
		line-height: 28px;
		margin-right: 17px;
  		color: rgba(254, 254, 254, 0.431);
	}
	&_edit, &_copy {
		font-weight: normal;
		font-size: 13px;
		line-height: 16px;
		-webkit-text-decoration-line: underline;
		        text-decoration-line: underline;
		color: #82B2FF;
		cursor: pointer;
		margin-right: 20px;
		&-sm {
			display: none;
		}
	}
	&_btn {
		padding: 16px 28px 13px;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		border: none;

	}
	&_price {
		margin-right: 32px;
		min-width: 64px;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		&-was {
			text-decoration: line-through;
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
		}
	}
	&_filters{
		margin-bottom: 13px;
		.item_label {
			margin-right: 16px;
		}
	}
	.section-row {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin-bottom: 0;
	}
	&_found {
		margin-left: 27px;
	}
}
.recentCard {
	padding: 35px 26px 36px 36px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 21px;
	position: relative;
	&-add {
		background-color: #146DFC;
	}
	&-sell {
		background-color: #15b41a;
	}
	&_type {
		font-weight: normal;
		font-size: 21px;
		line-height: 28px;
		&::after {
			content: "";
			display: block;
			background: white;
			width: 62px;
			height: 1px;
			margin: 11px 0 22px
		}
	}
	&_time {
		position: absolute;
		top: 39px;
		right: 31px;
		font-size: 14px;
	}
	&_content::after {
		content: "";
		display: block;
		clear: both;
	}
	&_img {
		position: relative;
		height: 95px;
		width: 95px;
		float: left;
		margin-right: 20px;
		img {
			position: absolute;
			height: 100%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
	}
	&_title {
		font-weight: 500;
		font-size: 18px;
		line-height: 16px;
		margin-bottom: 7px;
	}
	&_id {
		font-weight: normal;
		font-size: 12px;
		margin-bottom: 7px;
	}
	&_descr {
		font-weight: 300;
		font-size: 14px;
		line-height: 21px;
    	margin-bottom: 2px;
	}
	&_btn {
		border: 1px solid rgba(255, 255, 255, 0.68);
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
	}
	.section-row {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		margin: 19px 0 0;
	}
	&_price {
		text-decoration: none;
		font-weight: 500;
		font-size: 21px;
		line-height: 27px;
		margin-right: 26px;
    	margin-top: 9px;
	}
	&_stat {
		width: 172px;
		text-align: center;
		padding-top: 24px;
		height: 90px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		background: rgba(28, 29, 48, 0.99);
		border-radius: 6px;
		div {
			font-size: 24px;
			line-height: 28px;
		}
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}
}
.info_item {
	margin-left: 33px;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	span {
		color: rgb(117, 170, 255);
	}
	p {
		color: white;
		margin-left: 4px;
	}
}
.prodProps {
	&_top {
		margin-bottom: -10px;
		.pageBlock_explain {
			font-size: 16px;
			color: rgba(255, 255, 255, 0.329);
    		margin-top: 7px;
		}
	}
	&_container {
		.btn-blue {
    		padding: 14px 24px 12px 24px;
		}
		.btn-transparent {
			font-size: 16px;
			font-weight: 300;
		}
		.dropdown-transparent {
			margin-right: 10px;
		}
		.dropdown-transparent .dropdown_item {
  			font-size: 16px;
    		padding: 11px 45px 10px 19px;
		}
	}
	&_left {
		width: 486px;
		.pageBlock_item {
			width: 228px;
		}
		.item_label {
    		margin: 0 0 9px 3px;
		}
		.section-row {
			margin-top: 11px;
		}
		.section-start {
    		margin-top: 33px;
		}
		.checkBox {
			margin-right: 41px;
		}
	}
	&_right {
    	width: 566px;
		.pageBlock_explain {
			font-size: 14px;
			color: rgba(255, 255, 255, 0.431);
			text-transform: none;
			margin-left: 15px;
    		font-weight: 300;
		}
		.bTextarea {
			height: 132px;
		}
		.bTextarea-red {
			height: 98px;
		}
		.pageBlock_item {
			margin-bottom: 30px;
		}
	}
}
.lg-hide {
	display: none
}
@media screen and (max-width: 1200px) {
	.md-hide {
		display: none !important;
	}
	.bg-filled {
		background: #222333;
	}
	.pageContent_wrapper {
		width: 718px;
	}
	.rangeBlock {
		width: 100%;
		&_top {
    		flex-direction: column;
			.item_label {
				min-width: 244px;
			}
		}
		&_bottom {
			flex-direction: column;
			.rangeBlock {
    			margin-top: 24px;
			}
			.checkBox {
				min-width: 210px;
			}
			.rangeBlock .item_label {
				min-width: 207px;
			}
		}
		&_item {
			width: 100%;
		}
		&_container {
			.item_col {
				width: 300px;
				margin: 0 0 15px 0;
			}
			& > .section-start {
				justify-content: space-between;
    			flex-wrap: wrap;
			}
		}
	}
	.editPage {
		&_mid {
			flex-direction: column;
			& > div {
				width: 100%;
				padding: 0;
			}
		}
		&_props {
			&__res {
				margin-right: 20px;
			}
			&__price {
				width: 100%;
				.item_label {
					min-width: 120px;
    				max-width: 120px;
				}
				.priceRange {
					width: 100% !important
				}
				.input-evaluated {
    				width: 83px;
				}
				.input-num {
					width: 100%;
					margin-right: 3px;
				}
			}
		}
	}
	.pageBlock {
		padding: 30px 45px 34px;
		&_title__container {
			padding: 0;
			margin-bottom: 0;
		}
		&-fastBuy {
			padding: 30px 41px 34px;
			.separator {
    			margin: 26px 0 14px;
			}
		}
		&_explain {
    		max-width: 403px;
		}
		&_section {
			&-cols04 {
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			&-cols05  .item_label {
				display: none;
			}
			&-equal {
				flex-wrap: wrap;
				& > * {
					flex-grow: unset;
					flex-basis: unset;
					width: 100%;
					margin-right: 0;
				}
			}
            &-start {

            }
			&-fastBuy {
				flex-wrap: wrap;
				& > .pageBlock_item {
					position: relative;
					padding-bottom: 24px;
					overflow-y: hidden;
					transition: .4s ease-in-out;
    				max-height: 26px;
					margin: 15px 0 15px -20px;
					padding-left: 20px;
					&::after {
						content: '';
						position: absolute;
						right: 0;
    					bottom: 0;
						width: calc(100% - 20px);
						border-bottom: 1px solid #383851;
					}
					.section_col {
						.section-row:nth-child(2n):after {
							content: "";
							position: absolute;
							height: 54px;
							width: 100%;
							left: -0;
							background: #1e1f2d;
							border-radius: 10px;
						}
					}
					&.active {
						max-height: 1000px;
						& .pageBlock_title-smaller::after {
							transform: rotate(-45deg);
						}
						& .pageBlock_title-smaller::before {
							transform: rotate(45deg);
						}
						.pageBlock_title-smaller {
							margin-bottom: 0px;
						}
					}
					& > .pageBlock_title-smaller{
						font-size: 16px;
						margin: 0 0 30px;
    					padding: 0 0 25px;
						cursor: pointer;
						position: relative;
						transition: .2s;
						&::after, &::before {
							content: '';
							position: absolute;
							top: 9px;
							right: 20px;
							width: 8px;
							height: 2px;
							background: white;
							transform: rotate(45deg);
							transition: .3s;
						}
						&::before {
							transform: rotate(-45deg);
							right: 16px;
						}
					}
				}
				.pageBlock_item {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.section_col {
						padding-left: 19px;
					}
				}
				.pageBlock_item-bigger.lg-hide {
					display: block;
					width: 351px !important;
					max-width: none;
					position: relative;
					padding-right: 20px;
					.dropdown {
						display: block;
						width: 168px;
					}
					.pageBlock_title {
						position: absolute;
						top: -31px;
					}
					.section-row .dropdown {
						width: 132px;
    					margin-top: -21px;
					}
				}
				.pageBlock_title-smaller {
					width: 100%;
					font-size: 12px;
				}
				.item_label {
					display: block;
					z-index: 1;
				}
				.input-evaluated {
					width: 150px;
					margin-left: 17px;
					z-index: 1;
				}
			}
		}
		&_item-md {
			display: block;
    		width: 54px !important;
			.item_label {
				display: block;
				margin-bottom: 8px;
				height: 45px;
				box-sizing: border-box;
				padding: 17px 3px;
				span {
					position: relative;
					z-index: 1;
				}
				&:nth-child(2n+1):after {
					content: "";
					position: absolute;
					height: 54px;
					width: 100%;
    				margin-top: -21px;
					left: -20px;
					background: #1e1f2d;
					border-radius: 10px;
				}
			}
		}
		&_item {
//			& > *:nth-child(2n) {
//				background: #1E1F2D;
//			}
			&-bigger {
				min-width: 204px;
				max-width: 204px;
				margin-right: 0px;
				z-index: 1;
				.dropdown {display: none}
				.radioBox_container {display: none}
				.section-row {
					padding-top: 20px;
					margin: 8px 0 0px;
					height: 45px;
					box-sizing: border-box;
				}
			}
		}
		&_title {
			&-smaller {
				font-size: 14px;
                max-height: 18px;
			}
		}
		&_step1 {
			.pageBlock_item {
    			margin: 13px 30px 13px 0;
			}
			.pageBlock_section {
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			.step_btn:first-child {
				display: none;
			}
			.step_btn__container {
				width: 100%;
				justify-content: flex-end;
			}
		}
		&_step2__03 {
			.pageBlock_item:nth-child(1) {
				margin-right: 28px;
				width: 203px;
			}
			.pageBlock_item:nth-child(2) {
    			margin: 0 22px 0 0;
				width: 196px;
			}
			.pageBlock_item:nth-child(3) {
    			width: 177px;
			}
			.pageBlock_item:nth-child(4) {
				width: 100%;
			}
			.input-evaluated {
				margin-right: 0px;
			}
			.dropdown-md {
				margin-bottom: 22px;
			}
		}
		&_step3__01 {
			flex-wrap: wrap;
			.pageBlock_item {
				width: 100%;
				margin-right: 0;
				&:last-child {
    				justify-content: space-between;
					display: flex;
				}
			}
			.section-row {
				width: 100% !important;
			}
			.input-evaluated, .dropdown, .bTextarea {
				width: 458px;
				min-width: auto;
				margin: 0;
			}

		}
		&_step4{
			&__left {
				border-bottom: 1px solid #343651;
				padding-bottom: 22px;
				margin: -5px 0 25px;
				.section-row {
					justify-content: space-between;
				}
				.section_col {
					width: 307px;
				}

			}
			.step_btn__container {
				width: 100%;
				justify-content: flex-end;
				margin-bottom: 0;
			}
		}
	}
	.mgr30 {
		margin-right: 22px;
	}
	.screen {
		display: block;
		&_container {
			justify-content: flex-start;
			margin-right: 0;
		}
		&_img {
			border-radius: 5px;
		}
	}
	.prodProps {

    	flex-direction: column;
		&_left {
			width: 100%;
			.pageBlock_item {
    			width: 48.5%;
			}
		}
		&_right {
			width: 100%
		}
	}
	.btnLined {
    	padding: 16px 14px;
    	margin: 0 15px;
		&_container {
			justify-content: center;
    		margin: -22px 0 -11px;
		}
	}
	.select_container.amounted .btnLined {
		margin: 0 23px 0 0;
		flex-wrap: nowrap;
		display: flex;
		font-size: 14px;
		padding: 15px 25px 24px;
		&_amount {
			font-size: 12px;
		}
	}
	.pageBlock_section-start + .section-row.lined-top .input-search {
		margin-top: -17px;
	}
	.step:first-child, .step:last-child {
		align-items: flex-start;
		max-width: 142px;
	}
	.step:last-child {
		align-items: flex-end;
	}
	.step:first-child .step_num {
		margin-left: 31px;
	}
	.step:last-child .step_num {
		margin-right: 31px;
	}
	.step:first-child .step_dot {
		left: 35%;
		-webkit-transform: translate(-35%, -10px);
		-ms-transform: translate(-35%, -10px);
		transform: translate(-35%, -10px);
	}
	.step:last-child .step_dot {
		left: 65%;
		-webkit-transform: translate(-65%, -10px);
		-ms-transform: translate(-65%, -10px);
		transform: translate(-65%, -10px);
	}
	.step:first-child .step_dot__line {
		width: 58%;
		float: right;
	}
	.step:last-child .step_dot__line {
		width: 58%;
	}

	.step {
    	color: #7583a6;
		font-size: 12px;
		&_container {
    		margin: 0px -13px;
		}
		&-active {
			color: white;
			.step_title {
				font-size: 14px;
			}
		}
	}
	.dropdown {
		&-md {
			display: block !important;
		}
	}
	.card {
		&_container {
			flex-direction: column;
		}
		&_wrapper {
			padding: 21px 40px 22px 40px;
		}
		&_dropdown01 {
    		width: 280px;
			.dropdown {
				width: 257px;
			}
		}
		&_dropdown02 {
    		width: 265px;
			.dropdown {
				width: 242px;
			}
		}
		&_hot {
			padding: 4px 7px 5px 7px;
    		border-radius: 6px;
		}
		&_settings{
			flex-wrap: wrap;
			&__checkbox {
				display: block;
				margin-top: 18px;
				.checkBox {
					margin-right: 21px;
				}
			}
		}
		&_container-right {
			margin-bottom: 50px;
		}
	}
	.recentCard {
		width: calc(50% - 10px);
		&_container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		&_stat {
			width: calc(50% - 10px);
			display: flex;
			justify-content: center;
			align-content: center;
			&__container {
				width: 100%;
			}
		}

	}
	.section {
		&_col-md {
			display: block;
		}
	}
	.screen {
		&_section {
			.item_label {
    			margin: 16px 0 !important ;

			}
			.pageBlock_item:first-child .item_label {
				margin-top: 0 !important;
			}
			.mgr30 {
				margin-right: 0;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.pageBlock_section-start + .section-row.lined-top {
		margin: 22px -14px -38px;
		.sm-scroll {
			margin: 1px 0 -1px;
			padding-top: 0;
    		height: 72px;
			width: 100%;
			flex-wrap: nowrap;
    		overflow: hidden;
		}
		.input-search {
			margin-top: -21px;
		}
	}
	.btnLined {
    	border-right: #505260 1px solid;
		margin: 0 !important;
    	padding: 15px 25px 21px;
		border-radius: 0;
		&::before {
			height: 4px;
		}
	}
	.rangeBlock {
		&_top {
			.rangeBlock_item {
				justify-content: space-between;
				.input-evaluated:nth-child(3)::before {
					content: 'To';
					position: absolute;
					top: -20px;
					left: 51px;
					font-size: 13px;
					color: #a9aabe;
				}
				.input-evaluated:nth-child(1)::before {
					content: 'From';
					position: absolute;
					top: -20px;
					left: 51px;
					font-size: 13px;
					color: #a9aabe;
				}
			}
			.input-evaluated {
				position: relative;
				overflow: visible;
				width: 48%;


			}
			.rangeBlock_slider {
				display: none;
			}
			.section-row {
				justify-content: center;
    			margin-bottom: 20px;
				height: auto;
			}
			.item_label {
				min-width: auto;
				margin-bottom: 28px;
			}
		}
		&_bottom {
			.section-row {
				height: auto;
				margin-top: 25px;
			}
			.checkBox {
				margin-bottom: 12px;
			}
			.rangeBlock:nth-child(2) {
				.item_label {
					width: 100%;
					text-align: center;
   	 				margin-bottom: 15px;
				}
				.rangeBlock_slider {
					display: none;
				}
				.rangeBlock_item {
					justify-content: center;
				}
				.rangeBlock_item {
					.max_label,.min_label {
						flex-wrap: wrap;
						display: flex !important;
						width: 44px;
						font-size: 11px;
						color: gray;
						box-sizing: border-box;
						padding-left: 7px;
						span {
    						letter-spacing: 1px;
						}
					}
					.input-evaluated {
						background: #2F3151;
    					margin-right: 4px;
						width: 82px;
						justify-content: space-between;
						input {
							width: 30px !important;
    						padding: 13px 0 13px 12px;
							font-size: 13.5px;
							color: white;
							&::placeholder {
								color: white;
							}
							&:focus::placeholder {
								color: transparent;
							}
						}
						label {
							padding: 0 8px 0 0;
							font-size: 13.5px;
						}
						&:nth-child(4) {
							margin-right: 0 !important;
							margin-left: 4px;
							input {
								width: 47px !important;
							}
						}
					}
				}
				.section-row {
					flex-direction: column;
				}
			}
		}

		&_container {
			.btn-transparent {
				text-align: center;
				width: 100%;
			}
		}
		&_btns {
			border: none;
			padding-top: 0;
			margin-top: 20px;
			position: relative;
			&::after {
				content: '';
				border-top: 1px solid #343651;
				width: 100%;
				position: absolute;
				left: 0;
    			margin-top: 5px;
			}
			.btn-transparent {
				background: transparent;
				margin-bottom: 35px;
			}
			.btn-blue {
				width: auto;
			}
		}
	}
	.editPage {

		.separator {
			margin: 34px 0 20px;
		}
		&_top {
			flex-direction: column;
			.btn-transparent {
    			margin-top: 20px;
			}
			.item_label {
    			line-height: 22px;
			}

		}
		&_left {
			padding: 0 !important;
			.section-start {
				margin: 20px 0 0;
				flex-direction: column;
				align-items: flex-start;
			}
			.checkBox {
				margin-bottom: 24px;
			}
		}
		&_objImg {
			width: 100%;
			&__container {
				width: 100%;
			}
			&__remove {
				right: 2px;
				top: 4px;
			}
			&__edit {
				right: 28px;
				top: 1px;
			}
		}
		&_props {
			.bTextarea {
    			height: 153px;
			}
			.item_label {
				margin-bottom: 5px;
			}
			.section-start {
				flex-direction: column;
				margin-bottom: 18px;
			}
			&__price {
				.priceRange {
    				justify-content: space-between;
				}
				.input-evaluated {
					width: 102px;
				}
			}
			&__res {
				margin-right: 0px;
				flex-direction: column;
				align-items: flex-start;
				width: 100%;
			}
		}
		&_mid {
			.pageBlock_item {
				width: 100%;
				margin-top: 15px;
			}
		}
	}
	.prodProps {
    	flex-direction: column;
		.section {
			&-row {
				flex-direction: column;
				margin: 0;
			}
		}
		&_top {
			.section {
				&-end {
					flex-direction: column;
					width: 100%
				}
				&_col {
					margin: auto;
					text-align: center;
					margin-bottom: 10px;
				}
			}
			.dropdown {
				width: 100%;
				margin-bottom: 8px;
				margin-right: 0px;
			}
			.btn {
				width: 100%;
				box-sizing: border-box;
				text-align: center;
			}
			.pageContent_title {
				margin-bottom: 5px;
			}
		}
		&_left {
			.pageBlock_item {
    			width: 100%;
				margin-top: 5px;
			}
			.section-start {
				margin-top: 20px;
				flex-direction: column;
				align-items: flex-start;
			}
		}
		&_right {
			.item_label {
    			margin-top: 11px;
			}
			.pageBlock_explain {
				display: block;
				margin-left: 0;
				margin-top: 8px;
			}
			.btn {
				display: none;
			}
			.pageBlock_item {
				margin-bottom: 24px;
				margin-top: 21px;
			}
		}
	}
	.separator-vertical {
		display: none;
	}
	.sm-show {
		display: flex !important;
	}
	.sm-hide {
		display: none !important;
	}
	.btn-blue {
    	width: 100%;
	}
	.mgr30 {
		margin-right: 0px;
	}
	.section-row {
		flex-wrap: wrap;
	}
	.pageContent {
		&_wrapper {
			max-width: 287px;
		}
		&_title {
			font-size: 28px;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.pageBlock {
    	padding: 24px 13px 25px;
		& > &_title {
			text-align: center;
		}
		&_section {
			&-start {
				flex-direction: column;
				.btn-green {
					width: auto;
				}
			}
			&-cols05 {
				flex-direction: column;
				& + .separator {
					display: none;
				}
				.item_label {
					display: block;
    				width: 58px;
				}
				.pageBlock_item {
					width: 100%;
			border-bottom: 1px solid #343651;
		   padding-bottom: 23px;
				}
				.section-row {
					width: 100%;
					justify-content: center;
					padding: 5px 0;
					border-radius: 10px;
					margin: 0;
				}
				.section-row:nth-child(2n + 1) {
					background: #1E1F2D;
				}
				.input-evaluated {
					width: 150px;
    				margin: 0 10px 0 0;
				}
			}
            &-fastBuy {
                .pageBlock_item {
                    padding-left: 0;
                    margin: 15px 0 15px 0;
                    &::after {
                        display: none;
                    }
                }
				& > .pageBlock_item .pageBlock_title-smaller {
					margin-bottom: 4px;
					&:before {
						right: 4px
					}
					&:after {
						right: 10px
					}
				}
				& > .pageBlock_item.active {
					max-height: 3000px;
				}
                .pageBlock_item-bigger.lg-hide {
                    display: none
                }
                .section_col {
                    padding-left: 0 !important;
					width: 100%;
                    & > .section-row {
                        padding-left: 14px;
						padding-right: 8px;
						box-sizing: border-box;
						position: relative;
						width: 100%;
						cursor: pointer;
						max-height: 55px;
    					justify-content: flex-start;
						overflow: hidden;
						transition: .3s;
                        &::after, &::before {
							content: '';
							position: absolute;
							background: white !important;
							right: 16px !important;
							left: auto !important;
							height: 1px !important;
							width: 7px !important;
							transform: rotate(45deg);
    						top: 27px;
							transition: .2s ease-in-out;
//                            display: none
                        }
						&::before {
							transform: rotate(-45deg);
    						right: 11px !important;
						}
						&.active {
    						max-height: 250px;
							padding-top: 13px;
						}
						&.active::before {
							transform: rotate(45deg);
						}
						&.active::after {
							transform: rotate(-45deg);
						}
						.checkBox {
							margin: 15px 0 20px 57px;
						}
						.dropdown {
							margin: 0 0 10px 58px;
							width: 126px;
						}
						.input-evaluated label {
							display: none;
						}
                    }
                }
            }

		}
		&_title {
			&__container {
				justify-content: center;
			}
			&-smaller {
				font-size: 14px;
			}
		}
		&_item-md {
			display: none;
		}
		&_step1 {
			.pageBlock_item {
				width: 100%;
    			margin: 13px 0 13px 0;
			}
			.step_btn__container {
				height: auto;
			}
			.dropdown {
    			width: 100% !important;
			}
			.radioBox_container {
				margin-bottom: 0px;
    			max-width: 230px;
			}
			.input-evaluated {
				width: 100%;
			}
			.section_col {
				width: 100%;
				margin-bottom: 20px;
			}
		}
		&_step2__03 {
			.pageBlock_item {
				padding-bottom: 0;
				&:nth-child(1) {
					margin-right: 0;
					width: 100%;
				};
			}
		}
		&_step3__01 {
			.item_label {
				margin: 12px 0 7px;
			}
			.pageBlock_item:last-child {
				flex-direction: column;
				justify-content: flex-start;
			}
			.bTextarea {
				width: 100%;
			}
		}
		&_step4 {
			.contacts_social {
				flex-direction: row;
    			flex-wrap: nowrap;
			}
			&__right {
				.dropdown,
				input {
					width: 100%;
				}
				.btn {
					padding: 13px 3px;
					margin-left: 15px;
				}
				.btn_delete {
					text-indent: -999px;
					height: 30px;
					width: 30px;
					position: relative;
					&::after, &::before {
						content: '';
						position: absolute;
						right: 4px;
						top: 12px;
						width: 10px;
						height: 2px;
						transform: rotate(45deg);
						background: red;
					}
					&::after {
						transform: rotate(-45deg);
					}
				}
				.section-row {
					flex-wrap: nowrap;
				}
			}
			.step_btn__container {
				height: auto;
			}
		}
		&_item-bigger {
			width: 100% !important;
			max-width: none;
		}
	}
	.step {
		width: 100%;
		flex-direction: row;
		margin: 11px 0;
		&_btn__container {
			margin-top: 40px;
			position: relative !important;
			flex-wrap: wrap;
			text-align: center;
			width: 100%;
			height: 62px;
			.btn {
				width: 100%;
				margin-right: 0;
			}
			.btn:first-child {
				order: 2;
				margin-top: 10px;
			}
			.btn:last-child {
				order: 1;
			}
		}
		&-active &_dot::after {
			width: 9px;
			height: 9px;
			left: 5px;
			top: 6px;
		}
		&:first-child, &:last-child {
			max-width: 100%;
		}
		&:first-child {
			.step_num {
				margin-left: 0;
			}
			.step_dot {
    			transform: translate(-19%, -8px);
				left: 0;
				&__line {
					width: 3px;
					height: 20px;
					transform: translate(5px, 5px);
				}
				&__container {
					margin: 5px 14px 0 8px;
				}
			}
		}
		&:last-child {
			.step_num {
				margin-right: 13px;
			}
			.step_dot {
    			transform: translate(-19%, -8px);
				left: 0;
				&__line {
					width: 3px;
					height: 20px;
				}
				&__container {
					transform: translateY(-10px);
				}
			}
		}
		&_container {
			flex-direction: column;
			margin: 0;
		}
		&_title {
			order: 3;
			font-size: 14px;
		}
		&_num {
			order: 2;
			font-size: 12px;
			margin-right: 13px;
		}
		&_dot {
			width: 20px;
			height: 20px;
			left: 0;
			transform: translate(-19%, -7px);
		 	z-index: 1;
			&__container {
				order: 1;
				width: 14px;
    			margin: 0 14px 0 8px;
			}
			&__line {
				border-radius: 0;
				height: 40px;
				width: 3px;
    			transform: translate(5px, -19px);
				position: absolute;
			}
		}
	}
	.sm-accordeons {
		.separator {
			margin: 34px 0 0;
		}
		.pageBlock_title-smaller {
    		padding: 20px 0px;
			font-size: 14px;
			position: relative;
			cursor: pointer;
			&::after, &::before {
				content: '';
				width: 10px;
				height: 2px;
				background: white;
				position: absolute;
				right: 0;
				top: 43%;
			}
			&::before {
				transform: rotate(90deg);
				transition: .2s;
			}
		}
		& .sm-accord {
			max-height: 45px;
			overflow: hidden;
			transition: .4s ease-in-out;
			width: 100% !important;
			margin-right: 0 !important;
			padding-bottom: 23px !important;
			border-bottom: 1px solid #343651;
			& + .separator {
				display: none;
			}
		}
		& .sm-accord.active {
			max-height: 2000px;
			.pageBlock_title-smaller::before {
				transform: rotate(0deg);
			}
		}
	}
	.screen {
		display: none !important;
    	margin-right: 22px;
		&:nth-child(-n+6) {
			display: block !important;
		}
		&_section {
			.step_btn__container {
				height: auto;
				margin-top: 23px;
			}
		}
	}
	.select_container {
		.pageBlock_item {
			flex-direction: column;
		}
		.item_label {
			text-align: center;
			margin-bottom: 10px;
		}
		.dropdown {
			width: 100%;
		}
	}
	.card {
		align-items: flex-start;
    	flex-wrap: wrap;
		position: relative;
		&_wrapper {
			padding: 12px 13px 10px 13px;
			margin-bottom: 14px;
		}
		&_container {
			&-left {
				margin-right: 0;
			}
			&-right {
				min-width: 100%;
			}
		}
		&_img {
			&__container {
				margin-right: 6px;
				min-width: 102px;
				height: 102px;
			}
		}
		&_descr {
			line-height: 22px;
			margin: 16px 0 9px -110px;
		}
		&_buttons {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			.btn {
				text-align: center;
			}
		}
		&_btn {
			box-sizing: border-box;
		}
		&_content {
			width: 57%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-height: 156px;
			.section-row:first-child {
				order: 1;
			}
			.card_descr {
				order: 3;
			}
			.section-row:last-child {
				order: 2;
			}
		}
		&_price {
    		font-size: 20px;
    		margin-bottom: 9px;
		}
		&_filters .section-row {
			width: 100%;
			flex-wrap: nowrap;
			.dropdown {
				width: 71%;
			}
		}
		&_filters {
   	 		margin-top: 10px;
			.section-row {
				position: relative;
				&:last-child {
					display: none;
				}
			}
		}
		&_found {
			position: absolute;
			top: -31px;
			left: 81px;
		}
		&_edit, &_copy {
			display: none;
			&-sm {
				display: block;
  				border: solid 1px rgb(63, 108, 247);
				margin-bottom: 10px;
  				color: rgb(144, 176, 252);
    			flex-grow: 1;
			}
		}
		&_edit-sm + &_copy-sm {margin-left: 10px}
		&_settings {
			position: relative;
			flex-direction: column;
			.card_btn {
				box-sizing: border-box;
				width: 100%;
			}
			&__actions {
				width: 100%;
				margin-top: 17px;
				order: 4;
			}
			&__remove {
				position: absolute;
				top: 0;
				&::before, &::after {
					width: 12px;
					height: 2px;
					right: 4px;
				}
			}
			&__checkbox {
    			margin-bottom: -6px;
				order: 3;
			}
		}
		&_dropdown01 {
			width: 100%;
			.dropdown {width: 100%;}
		}
		&_dropdown02 {
			margin-top: 10px;
			width: 100%;
			.dropdown {width: 100%}
		}
		&_moderation {
			padding-right: 0;
			&__result {
				margin-bottom: 14px;
			}
			&__reason {
				flex-direction: column;
				p {
					margin: 5px 0 0 0;
				}
			}
		}
	}
	.checkBox {
		.checkBox_title:after{
			top: 3px;
			left: 5px;
		}
		.checkBox_title:before{
			width: 20px;
			height: 20px;
		}
	}
	.recentCard {
		width: 100%;
		padding: 35px 18px 36px;
		&_img {
    		margin-right: 14px;
		}
		&_container {
			flex-direction: column;
			justify-content: flex-start;
		}
		.btn {
			width: auto;
    		margin-bottom: -5px;
		}
		&_stat {
			width: 100%;
			margin-bottom: 15px;
    		height: 80px;
			p {
				margin-left: 12px;
			}
			&__container {
				flex-direction: column;
			}
		}
	}
	.section-start.referals {
		flex-direction: column;
    	padding-bottom: 11px;
		.btn {
			width: 100%;
			box-sizing: border-box;
			text-align: center;
			margin: 10px 0 15px 0;
		}
	}
}
