$color_main: #ffffff;
$color_yellow: #f59518;
$color_blue: #146DFC;
$color_green: #15B41A;
$color_red: #FF0000;


$color_darkgreen: #063d08;

$font_main: 'Montserrat', sans-serif;

$font_serif: 'Georgia', 'Times New Roman', 'Times CY', 'Century Schoolbook L', serif;

$content_margin: 15px;